{{> head }}

    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Title</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa pariatur molestias dolore? Nobis id enim, sed dolores assumenda unde? Nostrum laborum quis quam animi exercitationem quae at id quasi asperiores.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/nodejs.jpg" class="img-thumbnail"/>
        </div>
    </div>
    {{> footer }}